.vue-notification-group {
  width: 90% !important;
  margin: auto;
  margin-top: 10px;
  left: 0px;
  .vue-notification {
    padding: 10px;
    margin: 0 0 15px 0;
    border: none;
    border-radius: 5px;
    color: $white;
    background: $notification-blue;

    &.warning {
      background: $notification-orange;
    }

    &.error {
      background: $notification-red;
    }

    &.success {
      background: $notification-green;
    }
    .notification-title,
    .notification-content {
      font-size: $font-size-md;
    }
    .notification-title {
      margin-bottom: 5px;
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .vue-notification-group {
    width: 40% !important;
    margin: 10px;
    left: unset;
  }
}
@media screen and (min-width: $breakpoint-lg) {
  .vue-notification-group {
    width: 20% !important;
  }
}
