// colors
$melon: #ffa69eff;
$eggshell: #faf3ddff;
$aero-blue: #b8f2e6ff;
$powder-blue: #aed9e0ff;
$black-coral: #5e6472ff;
$green: #4eb068;
$light-green: #71c888;
$blue: #6cc8d6;
$red: #c63b3b;
$light-red: #f8d7da;
$white: #ffff;
$black: #000;
$grey: #948e8e;
$light-grey: #b3afaf;

// breakpoints
$breakpoint-s: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;

// font-size
$font-size-xs: 11px;
$font-size-s: 13px;
$font-size-md: 15px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 40px;
